@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w-6{
  width:60%
}
.w-4{
  width:40%
}
.rdw-editor-main {
  border:1px solid #d4d4d4;
}
.rdw-editor-toolbar{
  padding:0px;
  margin: 0px;
}
.rdw-block-wrapper{
  margin:0px;
}
.rdw-dropdown-wrapper{
  height:auto;
}
.rdw-option-wrapper{
  padding:0px;
  margin: 0px;
}
.rdw-dropdown-selectedtext{
  padding:0px;
  margin:0px;
}
.public-DraftStyleDefault-block{
  margin:2px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
